a{
    text-decoration: none !important;
    color: #fff !important;
    cursor: pointer !important;
}
.logo{
    padding-top: 40%;
}
.logo img{
    height: 120px;
}
.connect-btn-wrapper{
padding-top: 42%;
padding-bottom: 10%;


}

.btn-connect{
    background: rgba(49, 163, 112, 0.05);
    border: 1px solid #31a37040;
    padding: 1.2% 6% 1.2% 6%;
border-radius: 2px ;
text-decoration: none;
background: linear-gradient(270.08deg, #165338 0.08%, #31A370 99.95%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}
.btn-connect img{
    padding-right: 10px;
}

.nav-link img{
    padding-right: 10px;
}

.pt-22{
    padding-left: 22%;
}
.side-social{
    padding-top: 4%;
    gap: 1.8rem;
}
.dflex{
    display: flex;
}

.swap-box{
    background: #161E1A;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    padding: 2%;
    margin: auto;
    justify-content: center;
    position: absolute;
    top: calc(50% - 200px/2);
    left: 50%;
    width: 100%;
    max-width: 30%;
}
.swap-head{
    color: #fff;
    padding-top: 2%;
    padding-bottom: 3%;
}
.input-main{
    background: #333333;
    border: 1px solid #4C4C4C;
    padding: 3% 2% 2% 2%;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-top: 5%;

}
.input-sub a{
    float: right;
    color: #fff !important;
}
.input-sub input{
    background: transparent;
    border: none;
    color: #fff;
}
.swap-btn-wrap{
    padding-top: 8%;
}
.btn-swap{
    background: linear-gradient(93.68deg, #1FBE72 -2.01%, #159F5D 100.49%);
    box-shadow: inset -8px -8px 16px rgb(0 0 0 / 15%);
    padding: 2% 29% 2% 30%;
    font-size: 19px;
    width: max-content;
}
.swap-img{
    padding-right: 5px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
  }

  .ct-1{
    position: absolute;
    z-index: 0;
    /* left: 0; */
    top: 0;
    height: 68%;
  }

  .hero-box{
    background: linear-gradient(92.93deg, rgba(31, 190, 114, 0.1) -0.68%, rgba(26, 123, 77, 0.3) 100.97%);
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;
  align-items: center;

  }
  .hero-sub{
 align-items: center;
  
  }

  .eth-box{
    border: 1px solid;
    padding: 5% 3% 4% 3%;
    margin: 4%;
  }
  .eth-box-1{
    border: 1px solid #1FBE72;
    padding: 5% 3% 4% 3%;
    margin: 2%;
  }
  .eth-buy{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;

  }
  .eth-btn{
    color: #1FBE72 !important;
    font-size: 14px;
    border: 1px solid  #1FBE72;
    padding: 1% 3% 1% 3%;
  }
  .teno{
    padding-bottom: 5%;
  }


  /*main*/
  .btn-main1{
    background: linear-gradient(93.59deg, #1FBE72 9.54%, rgba(31, 190, 114, 0.6) 100.52%);
    border-radius: 2px;
    font-size: 14px;
    padding: 1% 2% 1% 2%;
  }
.main-bg{
    background-image: url(../img/draco.png);
    background-position: center;
    background-position-y: -126%;
    background-size: auto;
    background-repeat: no-repeat;

}
  .hero-main-box{
    padding-top: 13%;
    padding-bottom: 10%;
  }
  .hero-main-h1{
   padding-top: 3%;
   padding-bottom: 3%;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
  }
.hero-main-h4{
    font-weight: 700;
font-size: 32px;
line-height: 128.52%;
padding-right: 26%;


color: rgba(255, 255, 255, 0.6);
}
.hero-main-box p{
    font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #B6B6B6;

}

  /*endmain*/
@media (max-width: 768px) {
    .ct-1{
        display: none;
    }

}

@media (min-width: 768px){
.sidebar.toggled .pt-22 {
    text-align: center;
    padding: 0.75rem 1rem;
   
}

.sidebar.toggled .sidebar-card {
    text-align: center;
 
    margin-right: 0rem;

    
}
.sidebar.toggled .dflex{
    display: inline;
}
.sidebar.toggled .dflex li{
    padding: 1% 11% 6% 2%;
}
.sidebar.toggled .rights{
    display: none;
}
}

